/* ==================== page definitions ==================== */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
  font-family: Open Sans, Arial CE, Helvetica CE, Arial, Helvetica, sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background-color: #eeeeee;
}

a {
  color: #666666;
}

a:hover {
  color: #aaaaaa;
}

header {
  margin: 0 0 0 30px;
}

section {
  width: 900px;
  background-color: #ffffff;
  margin: 20px 20px 0 20px;
  padding: 10px 20px 10px 20px;
  border-left: 10px solid #eeeeee;
}

footer {
  text-align: right;
  font-size: 80%;
  margin: 5px 0 0 0;
  width: 960px;
}
